<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>component-23</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <!-- <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script> -->
    </head>
    <body class="dark:bg-gray-900">
        <div class="flex items-center justify-center py-8 px-4">
            <div class="md:w-96 rounded shadow-lg p-5 bg-indigo-700">
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card9-svg1.svg" alt="tuk"/>
                <h1 class="text-lg font-bold leading-7 pt-6 text-white">Learn, share and get help from our community</h1>
                <p class="pt-4 text-xs leading-5 pr-12 text-white">Join Tailwind UI Kit’s discord community and kickstart your next project with beautiful, accessible user interfaces.</p>
                <div class="pt-7 flex items-center justify-between">
                    <button class=" focus:opacity-90 focus:underline text-white rounded bg-transparent focus:outline-none hover:opacity-90 p-2 text-xs font-medium leading-3">Maybe Later</button>
                    <button class="text-indigo-700 rounded bg-gray-50 focus:ring-2 focus:ring-offset-2 focus:ring-orange-900 focus:outline-none focus:opacity-90 hover:opacity-90 p-2 text-xs font-medium leading-3">Join TUK on Discord</button>
                </div>
            </div>
        </div>
    </body>
</html>
