<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 95</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-8 sm:px-6 px-4">
        <div class="max-w-sm rounded shadow py-7 bg-white dark:bg-gray-800">
            <div class="px-8 flex flex-col items-center">
                <div aria-label="tuk logo" role="img" tabindex="0" class="focus:outline-none w-24 h-24 rounded-full flex items-center justify-center bg-gray-100">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card95-svg1.svg" alt="tuk"/> 
                </div>
                <p tabindex="0" class="focus:outline-none text-lg sm:text-xl font-bold leading-10 text-center mt-6 text-gray-800 dark:text-gray-100">TUK Design Inc.</p>
                <p tabindex="0" class="focus:outline-none text-base sm:text-lg leading-9 text-center mt-4 text-gray-500 dark:text-gray-400">Techology</p>
            </div>
            <div class="mt-7 pt-7 border-t-2 border-gray-200 dark:border-gray-900">
                <div class="flex items-center justify-between px-4 sm:px-16">
                    <button class="focus:outline-none focus:ring-2 focus:ring-indigo-600 mr-6 px-4 sm:py-2 py-1 bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 rounded sm:text-base text-sm font-semibold leading-9 text-center text-indigo-700 dark:text-gray-100">See All Jobs</button>
                    <button class="focus:outline-none focus:ring-2 focus:ring-indigo-600  focus:ring-offset-2 px-8 sm:py-2 py-1 bg-indigo-700 hover:bg-indigo-600 rounded sm:text-base text-sm font-semibold leading-9 text-center text-white">Follow</button>
                </div>
            </div>
        </div>
    </body>
</html>
