<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 105</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-12 sm:px-6 px-4">
        <div class="max-w-sm py-6 relative rounded shadow bg-white dark:bg-gray-800">
            <div class="px-6">
                <div aria-label="tuk logo" role="img" tabindex="0" class="focus:outline-none w-20 h-20 mt-1 rounded-full absolute flex items-center justify-center bg-gray-100">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card105-svg1.svg" alt="tuk"/>
                </div> 
                <div class="flex justify-end">
                    <svg role="button" tabindex="0" class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 focus:outline-none sm:mt-4 cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 46 11" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M35.5 5.5C35.5 8.26 37.74 10.5 40.5 10.5C43.26 10.5 45.5 8.26 45.5 5.5C45.5 2.74 43.26 0.5 40.5 0.5C37.74 0.5 35.5 2.74 35.5 5.5ZM28 5.5C28 2.74 25.76 0.5 23 0.5C20.24 0.5 18 2.74 18 5.5C18 8.26 20.24 10.5 23 10.5C25.76 10.5 28 8.26 28 5.5ZM5.5 0.5C8.26 0.5 10.5 2.74 10.5 5.5C10.5 8.26 8.26 10.5 5.5 10.5C2.74 10.5 0.5 8.26 0.5 5.5C0.5 2.74 2.74 0.5 5.5 0.5Z" fill="#6B7280" />
                    </svg>
                </div>
            </div>
            <div class="border-t-2 px-6 pt-14 sm:mt-3 mt-8 border-gray-200 dark:border-gray-800">
                <p tabindex="0" class="focus:outline-none sm:text-lg text-base font-semibold leading-4 text-gray-500 dark:text-gray-400">TUK Design Inc.</p>
                <p tabindex="0" class="focus:outline-none sm:text-lg text-base font-bold leading-5 text-gray-800 dark:text-gray-100 pt-4">Lead UX Designer</p>
                <p tabindex="0" class="focus:outline-none sm:text-sm text-xs leading-5 text-gray-500 dark:text-gray-400 pt-2">We are looking to hire a freelance UI/UX designer with at least 2 years of experience in delivering top quality web and mobile designs.</p>
            </div>
        </div>
    </body>
</html>
