<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900" style="min-height: 900px">
        <div class="flex items-center justify-center w-full h-full py-12 px-4">
            <div class="max-w-md w-full bg-white dark:bg-gray-800 rounded">
                <div class="py-6 px-8">
                    <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-5 text-gray-800 dark:text-gray-100">Orders</p>
                    <input type="search" class="focus:ring-2 focus:ring-gray-600 bg-gray-100 py-3 rounded-full w-full mt-4 focus:outline-none px-4 text-xs font-medium leading-3 text-gray-600" placeholder="Search Orders" />
                </div>
                <hr class="w-full bg-gray-400 dark:bg-gray-200" />
                <div class="py-5 px-8">
                    <div class="border rounded-3xl py-4 px-5 border-gray-400 dark:border-gray-200">
                        <div tabindex="0" class="focus:outline-none flex items-center justify-between">
                            <p class="text-sm font-medium leading-4 text-gray-700 dark:text-gray-100">IPhone X - Black</p>
                            <p class="text-xs font-semibold leading-3 text-gray-600 dark:text-gray-200">10:23 AM</p>
                        </div>
                        <div class="sm:flex items-end justify-between pt-4">
                            <div class="flex sm:mb-0 mb-4 items-center">
                                <img alt="iphone" tabindex="0" class="focus:outline-none w-8 h-8 rounded mr-2 object-cover object-center" src="https://images.unsplash.com/photo-1512054502232-10a0a035d672?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
                                <img alt="iphone" tabindex="0" class="focus:outline-none w-8 h-8 rounded mr-2 object-cover object-center" src="https://images.unsplash.com/photo-1530319067432-f2a729c03db5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1960&q=80" />
                                <img alt="iphone" tabindex="0" class="focus:outline-none w-8 h-8 rounded mr-2 object-cover object-center" src="https://images.unsplash.com/photo-1556656793-08538906a9f8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80" />
                            </div>
                            <p tabindex="0" class="focus:outline-none text-xs font-semibold leading-3 text-green-700">Delivered</p>
                        </div>
                        <div class="mt-6 sm:flex items-center justify-between">
                            <p tabindex="0" class="focus:outline-none text-xs sm:mb-0 mb-4 font-medium leading-3 text-gray-600 dark:text-gray-200">To : <span class="text-sm font-medium leading-4 text-gray-700 dark:text-gray-100"> Ogasawara Katsumi</span></p>
                            <img alt="man avatar" src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" tabindex="0" class="focus:outline-none w-8 h-8 rounded object-cover object-center" />
                        </div>
                        <div class="sm:flex items-center justify-between pt-8">
                            <p tabindex="0" class="focus:outline-none text-xs sm:mb-0 mb-4 font-medium leading-3 text-gray-600 dark:text-gray-400">ID : 1421412P - 24SGE2 - 876TBJK</p>
                            <div class="flex items-center">
                                <div aria-label="chat" role="img" tabindex="0" class="focus:outline-none pr-4 cursor-pointer">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card34-svg1.svg" alt="chat"/>
                                   
                                </div>
                                <div tabindex="0" aria-label="star" role="img" class="focus:outline-none cursor-pointer">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card34-svg2.svg" alt="star"/>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="pt-5 flex items-center">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card34-svg3.svg" alt="location"/>
                            
                            <p tabindex="0" class="focus:outline-none text-xs pl-4 leading-3 text-gray-600 dark:text-gray-400">9466 Trout St. Kent, OH 44240</p>
                        </div>
                    </div>
                    <div class="border rounded-3xl py-4 px-5 mt-5 border-gray-400 dark:border-gray-200">
                        <div class="flex items-center justify-between">
                            <p tabindex="0" class="focus:outline-none text-sm font-medium leading-4 text-gray-700 dark:text-gray-100">IPhone X - Black</p>
                            <p tabindex="0" class="focus:outline-none text-xs font-semibold leading-3 text-gray-600 dark:text-gray-200">10:23 AM</p>
                        </div>
                        <div class="sm:flex items-end justify-between pt-4">
                            <div class="flex sm:mb-0 mb-4 items-center">
                                <img alt="iphone" tabindex="0" class="focus:outline-none w-8 h-8 rounded mr-2 object-cover object-center" src="https://images.unsplash.com/photo-1512054502232-10a0a035d672?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
                                <img alt="iphone" tabindex="0" class="focus:outline-none w-8 h-8 rounded mr-2 object-cover object-center" src="https://images.unsplash.com/photo-1530319067432-f2a729c03db5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1960&q=80" />
                                <img alt="iphone" tabindex="0" class="focus:outline-none w-8 h-8 rounded mr-2 object-cover object-center" src="https://images.unsplash.com/photo-1556656793-08538906a9f8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80" />
                            </div>
                            <p tabindex="0" class="focus:outline-none text-xs font-semibold leading-3 text-indigo-600">Being Proccessed</p>
                        </div>
                        <div class="mt-6 sm:flex items-center justify-between">
                            <p tabindex="0" class="focus:outline-none text-xs sm:mb-0 mb-4 font-medium leading-3 text-gray-600 dark:text-gray-200">To : <span class="text-sm font-medium leading-4 text-gray-700 dark:text-gray-100"> Ogasawara Katsumi</span></p>
                            <img alt="man avatar" src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" tabindex="0" class="focus:outline-none w-8 h-8 rounded object-cover object-center" />
                        </div>
                        <div class="sm:flex items-center justify-between pt-8">
                            <p tabindex="0" class="focus:outline-none text-xs sm:mb-0 mb-4 font-medium leading-3 text-gray-600 dark:text-gray-400">ID : 1421412P - 24SGE2 - 876TBJK</p>
                            <div class="flex items-center">
                                <div aria-label="chat" role="img" tabindex="0" class="focus:outline-none pr-4 cursor-pointer">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card34-svg1.svg" alt="chat"/>
                                </div>
                                <div aria-label="star" role="img" tabindex="0" class="focus:outline-none cursor-pointer">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card34-svg2.svg" alt="star"/>
                                </div>
                            </div>
                        </div>
                        <div class="pt-5 flex items-center">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card34-svg3.svg" alt="location"/>
                            <p tabindex="0" class="focus:outline-none text-xs pl-4 leading-3 text-gray-600 dark:text-gray-400">9466 Trout St. Kent, OH 44240</p>
                        </div>
                    </div>
                    <div class="border rounded-3xl py-4 px-5 mt-5 border-gray-400 dark:border-gray-200">
                        <div class="flex items-center justify-between">
                            <p tabindex="0" class="focus:outline-none text-sm font-medium leading-4 text-gray-700 dark:text-gray-100">IPhone X - Black</p>
                            <p tabindex="0" class="focus:outline-none text-xs font-semibold leading-3 text-gray-600 dark:text-gray-200">10:23 AM</p>
                        </div>
                        <div class="sm:flex items-end justify-between pt-4">
                            <div class="flex sm:mb-0 mb-4 items-center">
                                <img alt="iphone" tabindex="0" class="focus:outline-none w-8 h-8 rounded mr-2 object-cover object-center" src="https://images.unsplash.com/photo-1512054502232-10a0a035d672?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
                                <img alt="iphone" tabindex="0" class="focus:outline-none w-8 h-8 rounded mr-2 object-cover object-center" src="https://images.unsplash.com/photo-1530319067432-f2a729c03db5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1960&q=80" />
                                <img alt="iphone" tabindex="0" class="focus:outline-none w-8 h-8 rounded mr-2 object-cover object-center" src="https://images.unsplash.com/photo-1556656793-08538906a9f8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80" />
                            </div>
                            <p tabindex="0" class="focus:outline-none text-xs font-semibold leading-3 text-blue-600">Ready to Ship</p>
                        </div>
                        <div class="mt-6 sm:flex items-center justify-between">
                            <p tabindex="0" class="focus:outline-none text-xs sm:mb-0 mb-4 font-medium leading-3 text-gray-600 dark:text-gray-200">To : <span class="text-sm font-medium leading-4 text-gray-700 dark:text-gray-100"> Ogasawara Katsumi</span></p>
                            <img alt="man avatar" src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" tabindex="0" class="focus:outline-none w-8 h-8 rounded object-cover object-center" />
                        </div>
                        <div class="sm:flex items-center justify-between pt-8">
                            <p tabindex="0" class="focus:outline-none text-xs sm:mb-0 mb-4 font-medium leading-3 text-gray-600 dark:text-gray-400">ID : 1421412P - 24SGE2 - 876TBJK</p>
                            <div class="flex items-center">
                                <div aria-label="chat" role="img" tabindex="0" class="focus:outline-none pr-4 cursor-pointer">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card34-svg1.svg" alt="chat"/>
                                </div>
                                <div aria-label="star" role="img" tabindex="0" class="focus:outline-none cursor-pointer">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card34-svg2.svg" alt="star"/>
                                </div>
                            </div>
                        </div>
                        <div class="pt-5 flex items-center">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card34-svg3.svg" alt="location"/>
                            <p tabindex="0" class="focus:outline-none text-xs pl-4 leading-3 text-gray-600 dark:text-gray-400">9466 Trout St. Kent, OH 44240</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
