<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 106</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-8 sm:px-6 px-4">
        <div class="max-w-sm p-6 rounded shadow bg-white dark:bg-gray-800">
            <div class="flex items-start justify-between">
                <div aria-label="tuk logo" role="img" tabindex="0" class="focus:outline-none w-20 h-20 rounded-full flex items-center justify-center bg-gray-100">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card106-svg1.svg" alt="logo"/>
                    
                </div> 
                <svg  role="button" tabindex="0" class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 focus:outline-none mt-4 cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 46 11" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.5 5.5C35.5 8.26 37.74 10.5 40.5 10.5C43.26 10.5 45.5 8.26 45.5 5.5C45.5 2.74 43.26 0.5 40.5 0.5C37.74 0.5 35.5 2.74 35.5 5.5ZM28 5.5C28 2.74 25.76 0.5 23 0.5C20.24 0.5 18 2.74 18 5.5C18 8.26 20.24 10.5 23 10.5C25.76 10.5 28 8.26 28 5.5ZM5.5 0.5C8.26 0.5 10.5 2.74 10.5 5.5C10.5 8.26 8.26 10.5 5.5 10.5C2.74 10.5 0.5 8.26 0.5 5.5C0.5 2.74 2.74 0.5 5.5 0.5Z" fill="#6B7280" />
                </svg>
            </div>
            <p tabindex="0" class="focus:outline-none text-lg font-bold leading-5 text-gray-800 dark:text-gray-100 mt-3">Product Designer</p>
            <p tabindex="0" class="focus:outline-none text-base leading-5 text-gray-500 dark:text-gray-400 mt-3">We are looking to hire a freelance UI/UX designer fluent in the use of Figma and invision studio.</p>
            <div>
                <div class="flex items-center mt-4">
                    <div class="bg-gray-100 dark:bg-gray-800 rounded-full w-20 h-10 flex items-center justify-center">
                        <p tabindex="0" class="focus:outline-none text-xs font-semibold leading-loose text-center text-gray-600 dark:text-gray-400">Full Time</p>
                    </div>
                    <div class="bg-gray-100 dark:bg-gray-800 rounded-full w-20 h-10 flex items-center justify-center ml-8">
                        <p tabindex="0" class="focus:outline-none text-xs font-semibold leading-loose text-center text-gray-600 dark:text-gray-400">2 years</p>
                    </div>
                </div>
            </div>
            <div class="mt-6 flex items-center">
                <div class="flex items-center">
                    <img tabindex="0" class="focus:outline-none w-6 h-6 rounded-full" src="https://i.ibb.co/bbWSx2p/1.png" alt="avatar 1" />
                    <img tabindex="0" class="focus:outline-none -ml-2 w-6 h-6 rounded-full" src="https://i.ibb.co/QY635bP/2.png" alt="avatar 2" />
                    <img tabindex="0" class="focus:outline-none -ml-2 w-6 h-6 rounded-full" src="https://i.ibb.co/F0y6TTT/3.png" alt="avatar 3" />
                    <div class="w-6 h-6 -ml-2 bg-white border-2 border-gray-200 dark:border-gray-100 dark:bg-gray-800 flex items-center justify-center rounded-full">
                        <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-4 text-gray-500 dark:text-gray-100">+2</p>
                    </div>
                </div>
                <p tabindex="0" class="focus:outline-none ml-2 text-xs leading-4 text-gray-500 dark:text-gray-400 sm:ml-5">5+ have applied</p>
            </div>
            <div class="flex items-center justify-between mt-6">
                <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 flex items-center sm:px-9 px-4 py-3 hover:bg-indigo-600 bg-indigo-700 rounded">
                    <p class="text-sm font-semibold leading-4 text-center text-white">Apply Now</p>
                </button>
                <button class="focus:outline-none focus:ring-2 focus:ring-indigo-600 flex items-center sm:px-10 px-6 py-3 bg-gray-100 hover:bg-gray-200 rounded ml-6 sm:ml-14">
                    <p class="text-sm font-semibold leading-4 text-center text-indigo-700">Message</p>
                </button>
            </div>
        </div>
    </body>
</html>
