<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 96</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-12 sm:px-6 px-4" style="min-height: 400px">
        <div class="flex flex-col max-w-xl items-center md:flex-row rounded shadow p-6 bg-white dark:bg-gray-800">
            <div class="w-20 h-20 rounded-full flex items-center justify-center bg-gray-100">
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card96-svg1.svg" alt="tuk"/>
            </div> 
            <div class="sm:flex flex-row items-start justify-between ml-4">
                <div class="w-full">
                    <p tabindex="0" class="focus:outline-none text-base sm:pt-0 pt-4 font-semibold leading-5 text-gray-500 dark:text-gray-400">Facebook</p>
                    <p tabindex="0" class="focus:outline-none text-sm pt-2 sm:hidden block leading-5 text-gray-500">Singapore</p>

                    <p tabindex="0" class="focus:outline-none text-base font-bold leading-5 pt-2 text-gray-800 dark:text-gray-100">UX Designer, Lead, Next Billion Users</p>
                    <p tabindex="0" class="focus:outline-none text-xs font-medium leading-4 text-gray-500 dark:text-gray-400 pt-2">3 days ago • 53 applications</p>
                </div>
                <p tabindex="0" class="focus:outline-none text-sm pl-12 sm:block hidden leading-5 text-gray-500">Singapore</p>
            </div>
        </div>
    </body>
</html>
