<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>component-11</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body style="min-height: 380px" class="dark:bg-black bg-gray-200">
        <div class="py-12 dark:bg-black bg-gray-700 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0" id="modal">
            <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg flex justify-center">
                <div class="flex items-center justify-center py-8 px-4">
                    <div class="relative md:w-80 rounded shadow-lg p-6 dark:bg-gray-800 bg-white">
                        <h1 class="text-lg font-bold leading-none dark:text-gray-100 text-gray-800">Create Link</h1>
                        <p class="text-sm leading-5 pt-6 dark:text-gray-100 text-gray-600">Share the link with people you want to give access to</p>
                        <p class="text-xs font-semibold py-4 leading-4 text-indigo-700 uppercase">Your link</p>
 
                        <div class="">
                            <div class="flex items-center h-full justify-between text-sm font-semibold leading-6 bg-gray-100 rounded h-12 w-full">
                                <div>
                                    <p class="pl-4 text-base font-medium leading-tight dark:text-gray-100 text-gray-800">https://youlink.com</p>
                                </div>
                                <button aria-label="copy link" class="bg-indigo-700 p-3.5 rounded-r cursor-pointer focus:ring-2 focus:outline-none focus:ring-offset-2 focus:ring-indigo-700">
                                   <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/modal_9-svg1.svg" alt="share icon"/> 
                                </button>
                            </div>
                        </div>
                        <button aria-label="Close modal" class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 dark:text-gray-100 text-gray-400 dark:hover:text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:outline-none focus:ring-2 focus:ring-gray-600" onclick="modalHandler()">
                            <svg xmlns="http://www.w3.org/2000/svg"  class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <line x1="18" y1="6" x2="6" y2="18" />
                                <line x1="6" y1="6" x2="18" y2="18" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full flex justify-center py-12" id="button">
            <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 mx-auto transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-4 sm:px-8 py-2 text-xs sm:text-sm" onclick="modalHandler(true)">Open Modal</button>
        </div>
        <script src="./index.js"></script>
        <script>
            let modal = document.getElementById("modal");
            function modalHandler(val) {
                if (val) {
                    fadeIn(modal);
                } else {
                    fadeOut(modal);
                }
            }
            function fadeOut(el) {
                el.style.opacity = 1;
                (function fade() {
                    if ((el.style.opacity -= 0.1) < 0) {
                        el.style.display = "none";
                    } else {
                        requestAnimationFrame(fade);
                    }
                })();
            }
            function fadeIn(el, display) {
                el.style.opacity = 0;
                el.style.display = display || "block";
                (function fade() {
                    let val = parseFloat(el.style.opacity);
                    if (!((val += 0.2) > 1)) {
                        el.style.opacity = val;
                        requestAnimationFrame(fade);
                    }
                })();
            }
        </script>
    </body>
</html>
