<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add User - modal</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
    </head>
    <body style="min-height: 900px" class="flex dark:bg-gray-900 items-center justify-center">
        <div class="w-full flex justify-center py-12" id="button">
            <button class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 focus:outline-none mx-auto transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-4 sm:px-8 py-2 text-xs sm:text-sm" onclick="popuphandler(true)">Open Modal</button>
        </div>
    
        <div id="popup" class="z-50 fixed w-full flex justify-center inset-0">
            <div onclick="popuphandler(false)" class="w-full h-full bg-gray-900 z-0 absolute inset-0"></div>
            <div class="mx-auto container">
                <div class="flex items-center justify-center h-full w-full">
                    <div class="bg-white dark:bg-gray-800  rounded-md shadow fixed overflow-y-auto sm:h-auto w-10/12 md:w-8/12 lg:w-1/2 2xl:w-2/5">
                        <div class="bg-gray-100 dark:bg-gray-600 rounded-tl-md rounded-tr-md px-4 md:px-8 md:py-4 py-7 flex items-center justify-between">
                            <p class="text-base font-semibold dark:text-white">Create New User</p>
                            <button role="button" aria-label="close label" onclick="popuphandler(false)" class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 focus:outline-none">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/add_user-svg1.svg" alt="icon"/>
                               
                            </button>
                        </div>
                        <div class="px-4 md:px-10 pt-6 md:pt-12 md:pb-4 pb-7">
                            <div class="flex items-center justify-center">
                                <div tabindex="0" aria-label="img" role="img" class="focus:outline-none w-40 h-40 p-16 bg-gray-100  rounded-md flex items-center justify-center">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/add_user-svg2.svg" alt="icon"/>
                                   
                                </div>
                            </div>
                            <form class="mt-11">
                                <div class="flex items-center space-x-9">
                                    <input placeholder="Full Name" class="focus:ring-2 focus:ring-gray-400 w-1/2 focus:outline-none placeholder-gray-500 py-3 px-3 text-sm leading-none text-gray-800 bg-white dark:bg-gray-900  border rounded border-gray-200 dark:border-gray-700 " />
                                    <input placeholder="Age" type="number" min="0" class="focus:ring-2 focus:ring-gray-400 w-1/2 focus:outline-none placeholder-gray-500 py-3 px-3 text-sm leading-none text-gray-800 bg-white dark:bg-gray-900  border rounded border-gray-200 dark:border-gray-700 " />
                                </div>
                                <div class="flex items-center space-x-9 mt-8">
                                    <input placeholder="Email" type="email" class="focus:ring-2 focus:ring-gray-400 w-1/2 focus:outline-none placeholder-gray-500 py-3 px-3 text-sm leading-none text-gray-800 bg-white dark:bg-gray-900  border rounded border-gray-200 dark:border-gray-700 " />
                                    <div tabindex="0" class="focus:outline-none focus:ring-2 focus:ring-gray-400 w-1/2 bg-white dark:bg-gray-900  border rounded border-gray-200 dark:border-gray-700  py-2.5 px-3">
                                        <select aria-label="select an option" class="text-sm text-gray-500 dark:bg-gray-900 w-full focus:outline-none">
                                            <option selected="" disabled="" value="">Category</option>
                                            <option>Designer</option>
                                            <option>Developer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mt-8">
                                    <textarea placeholder="Description" class="focus:outline-none focus:ring-2 focus:ring-gray-400 dark:bg-gray-900 py-3 pl-3 overflow-y-auto h-24 border placeholder-gray-500 rounded border-gray-200 dark:border-gray-700  w-full resize-none focus:outline-none"></textarea>
                                </div>
                            </form>
                            <div class="flex items-center justify-between mt-9">
                                <button role="button" aria-label="close button" onclick="popuphandler(false)" class="focus:ring-2 focus:ring-offset-2 focus:bg-gray-600 focus:ring-gray-600 focus:outline-none px-6 py-3 bg-gray-600 hover:bg-gray-500 shadow rounded text-sm text-white">Cancel</button>
                                <button aria-label="add user" role="button" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-800 focus:outline-none px-6 py-3 bg-indigo-700 hover:bg-opacity-80 shadow rounded text-sm text-white">Add User</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function popuphandler(flag) {
                if (flag) {
                    document.getElementById("popup").classList.remove("hidden");
                } else {
                    document.getElementById("popup").classList.add("hidden");
                }
            }
        </script>
        <script src="./index.js"></script>
    </body>
</html>
