<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center w-full h-full py-12 px-4">
            <div class="max-w-sm">
                <div class="p-4 bg-gray-100 shadow rounded-tl rounded-tr dark:bg-gray-700">
                    <div class="flex items-center">
                        <div class="w-28 h-28 rounded relative">
                            <img tabindex="0" class="focus:outline-none" src="https://i.ibb.co/30t3mFh/3.png" alt="party" />
                            <div class="w-9 h-9 bg-indigo-700 rounded absolute top-0 flex items-center justify-center">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card63-svg1.svg" alt="music"/>
                               
                            </div>
                        </div>
                        <div class="sm:pl-12 pl-5 pr-4">
                            <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-5 dark:text-gray-100 text-gray-800">Sweet&nbsp;melody</p>
                            <p tabindex="0" class="focus:outline-none text-sm leading-4 pt-2 dark:text-gray-100 text-gray-800">Little Mix</p>
                            <p tabindex="0" class="focus:outline-none text-sm leading-4 pt-6 dark:text-gray-400 text-gray-600">Winter Hits 2020</p>
                        </div>
                    </div>
                </div>
                <div class="bg-white shadow dark:bg-gray-800 pt-5 px-4 rounded-b">
                    <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-500 dark:text-gray-400 uppercase">up Next</p>
                    <div class="flex items-center pt-5 pb-4 border-b border-gray-200">
                        <div class="w-9 h-9 rounded">
                            <img src="https://i.ibb.co/n8SCrpx/4.png" alt="girl avatar" tabindex="0" class="focus:outline-none w-full h-full" />
                        </div>
                        <div class="flex flex-col pl-6">
                            <p tabindex="0" class="focus:outline-none text-base font-semibold leading-4 dark:text-gray-100 text-gray-800">Midnight sky</p>
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-800 dark:text-gray-100 pt-2">Miley Cyrus</p>
                        </div>
                    </div>
                    <div class="flex items-center pt-5 pb-4">
                        <div class="w-9 h-9 rounded">
                            <img tabindex="0" class="focus:outline-none w-full h-full" src="https://i.ibb.co/SdyYvbB/5.png" alt="girl avatar" />
                        </div>
                        <div class="flex flex-col pl-6">
                            <p tabindex="0" class="focus:outline-none text-base font-semibold leading-4 dark:text-gray-100 text-gray-800">Midnight sky</p>
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-800 dark:text-gray-100 pt-2">Miley Cyrus</p>
                        </div>
                    </div>
                    <div class="py-5 flex items-center cursor-pointer">
                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card63-svg2.svg" alt="menu"/>
                        
                        <p tabindex="0" class="focus:outline-none text-xs leading-3 text-indigo-700 pl-1">See playlist</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
