<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center w-full h-full py-8 px-4">
            <div class="w-full sm:max-w-2xl bg-white dark:bg-gray-800 pt-6 pb-10 rounded-lg">
                <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-tight text-gray-800 dark:text-gray-100 px-8">Top Browsers</p>

                <div class="w-full mt-6 overflow-x-scroll sm:overflow-x-auto">
                    <table class="w-full">
                        <thead class="text-xs sm:text-base font-medium leading-none text-gray-500 dark:text-gray-400">
                            <tr class="border-b border-gray-200">
                                <td tabindex="0" class="focus:outline-none pb-4 pl-8">Browser</td>
                                <td tabindex="0" class="focus:outline-none pb-4 pl-4">Sessions</td>
                                <td tabindex="0" class="focus:outline-none pl-14 pb-4">Bounce&nbsp;Rate</td>
                                <td tabindex="0" class="focus:outline-none pl-14 pb-4">Transactions</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-xs sm:text-base leading-none text-gray-800 dark:text-gray-100">
                                <td class="pl-8 pt-6">
                                    <div class="flex items-center">
                                        <div aria-label="chrome browser icon" role="img" tabindex="0" class="focus:outline-none w-8 h-8 border text-gray-500 dark:text-gray-400 dark:border-gray-400 border-gray-500 flex items-center justify-center rounded">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card53-svg1.svg" alt="chrome"/>
                                            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card53-svg1dark.svg" alt="chrome"/>
                                           
                                        </div>
                                        <p tabindex="0" class="focus:outline-none ml-3">Chrome</p>
                                    </div>
                                </td>
                                <td tabindex="0" class="focus:outline-none pt-6 pl-4">5,894</td>
                                <td tabindex="0" class="focus:outline-none pt-6 pl-14">85.67%</td>
                                <td tabindex="0" class="focus:outline-none pt-6 pl-14">572</td>
                            </tr>
                            <tr class="text-xs sm:text-base leading-none text-gray-800 dark:text-gray-100">
                                <td class="pl-8 pt-6">
                                    <div class="flex items-center">
                                        <div aria-label="edge browser icon" role="img" tabindex="0" class="focus:outline-none w-8 h-8 border text-gray-500 dark:text-gray-400 dark:border-gray-400 border-gray-500 flex items-center justify-center rounded">
                                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card53-svg2.svg" alt="edge"/>
                                            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card53-svg2dark.svg" alt="edge"/>
                                           
                                        </div>
                                        <p tabindex="0" class="focus:outline-none ml-3">Edge</p>
                                    </div>
                                </td>
                                <td tabindex="0" class="focus:outline-none pt-6 pl-4">4,296</td>
                                <td tabindex="0" class="focus:outline-none pt-6 pl-14">54.61%</td>
                                <td tabindex="0" class="focus:outline-none pt-6 pl-14">745</td>
                            </tr>
                            <tr class="text-xs sm:text-base leading-none text-gray-800 dark:text-gray-100">
                                <td class="pl-8 pt-6">
                                    <div class="flex items-center">
                                        <div aria-label="safari browser icon" role="img" tabindex="0" class="focus:outline-none w-8 h-8 border text-gray-500 dark:text-gray-400 dark:border-gray-400 border-gray-500 flex items-center justify-center rounded">
                                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card53-svg3.svg" alt="safari"/>
                                            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card53-svg3dark.svg" alt="safari"/>
                                           
                                        </div>
                                        <p tabindex="0" class="focus:outline-none ml-3">Safari</p>
                                    </div>
                                </td>
                                <td tabindex="0" class="focus:outline-none pt-6 pl-4">3.969</td>
                                <td tabindex="0" class="focus:outline-none pt-6 pl-14">53.02%</td>
                                <td tabindex="0" class="focus:outline-none pt-6 pl-14">653</td>
                            </tr>
                            <tr class="text-xs sm:text-base leading-none text-gray-800 dark:text-gray-100">
                                <td class="pl-8 pt-6">
                                    <div class="flex items-center">
                                        <div aria-label="mozilla firefox icon" role="img" tabindex="0" class="focus:outline-none w-8 h-8 border text-gray-500 dark:text-gray-400 dark:border-gray-400 border-gray-500 flex items-center justify-center rounded">
                                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card53-svg4.svg" alt="firefox"/>
                                            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card53-svg4dark.svg" alt="firefox"/>
                                          
                                        </div>
                                        <p tabindex="0" class="focus:outline-none ml-3">Mozilla&nbsp;Firefox</p>
                                    </div>
                                </td>
                                <td tabindex="0" class="focus:outline-none pt-6 pl-4">1,321</td>
                                <td tabindex="0" class="focus:outline-none pt-6 pl-14">65.85%</td>
                                <td tabindex="0" class="focus:outline-none pt-6 pl-14">320</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
