<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 86</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
 
    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-12 px-6">
        <div class="max-w-xs rounded bg-white dark:bg-gray-800 shadow">
            <div class="px-4 sm:px-5 sm:pt-8 pt-4 flex items-center md:pr-32">
                <div class="w-16 h-16 bg-gray-100 rounded-full flex items-center justify-center">
                    <img class="focus:outline-none" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card86-svg1.svg" alt="shopping cart"/>
                   
                </div>
                <p tabindex="0" class="focus:outline-none text-lg font-semibold leading-none text-gray-800 pl-4 dark:text-gray-100">My Cart</p>
            </div>
            <hr class="border border-gray-200 dark:border-gray-900 mt-6 mb-4" />
            <div class="px-4">
                <div class="flex items-end justify-between">
                    <div class="items-center flex">
                        <img tabindex="0" class="focus:outline-none" src="https://i.ibb.co/f8YgcFf/img1.png" alt="camera" />
                        <div class="pl-3">
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-800 dark:text-gray-100">Sennheiser HD 4.40BT</p>
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-500 dark:text-gray-400 pt-2 pb-4">Quantity: 1</p>
                            <p tabindex="0" class="focus:outline-none text-base leading-none text-gray-800 dark:text-gray-100">$170.5</p>
                        </div>
                    </div>
                    <button class="hover:text-red-800 focus:outline-none focus:underline focus:text-red-800 text-xs leading-3 cursor-pointer  text-right text-red-600 dark:text-red-400"><p >Remove</p></button>
                </div>
            </div>
            <hr class="border border-gray-200 dark:border-gray-900 my-4" />
            <div class="px-4">
                <div class="flex items-end justify-between">
                    <div class="items-center flex">
                        <img  tabindex="0" class="focus:outline-none" src="https://i.ibb.co/VCwDTHP/img2.png" alt="image" />
                        <div class="pl-3">
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-800 dark:text-gray-100">Sennheiser HD 4.40BT</p>
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-500 dark:text-gray-400 pt-2 pb-4">Quantity: 2</p>
                            <p tabindex="0" class="focus:outline-none text-base leading-none text-gray-800 dark:text-gray-100">$157.5</p>
                        </div>
                    </div>
                    <button class="hover:text-red-800 focus:outline-none focus:underline focus:text-red-800 text-xs leading-3 cursor-pointer text-right text-red-600 dark:text-red-400"><p >Remove</p>
                </div>
            </div>
            <hr class="border border-gray-200 dark:border-gray-900 my-4" />
            <div class="px-4">
                <div class="flex items-end justify-between">
                    <div class="items-center flex">
                        <img tabindex="0" class="focus:outline-none" src="https://i.ibb.co/wLqq2pm/img3.png" alt="memory card" />
                        <div class="pl-3">
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-800 dark:text-gray-100">128 GB Micro SD card</p>
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-500 pt-2 pb-4 dark:text-gray-400">Quantity: 2</p>
                            <p tabindex="0" class="focus:outline-none text-base leading-none text-gray-800 dark:text-gray-100">$57.5</p>
                        </div>
                    </div>
                    <button class="hover:text-red-800 focus:outline-none focus:underline focus:text-red-800 text-xs leading-3 cursor-pointer  text-red-600  text-right dark:text-red-400"><p>Remove</p></button>
                </div>
            </div>
            <hr class="border border-gray-200 dark:border-gray-900 my-4" />
            <div class="pb-4 px-4">
                <div class="flex items-center justify-between w-full">
                    <p tabindex="0" class="focus:outline-none text-sm leading-none text-gray-500 dark:text-gray-400">Grand Total</p>
                    <p tabindex="0" class="focus:outline-none text-base leading-none text-right text-gray-800 dark:text-gray-100">$370.3</p>
                </div>
            </div>
        </div>
    </body>
</html>
