<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 92</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-12 sm:px-6 px-4" style="min-height: 400px">
        <div>
            <div class="max-w-3xl rounded shadow bg-white dark:bg-gray-800 py-6 pl-6 pr-12">
                <div class="flex items-center">
                    <p tabindex="0" class="focus:outline-none text-lg md:pr-96 font-semibold leading-4 text-gray-800 dark:text-gray-100">Statistics</p>
                    <p tabindex="0" class="focus:outline-none text-xs leading-3 pl-6 text-right text-gray-500 dark:text-gray-400">Updated 1 month ago</p>
                </div>
                <div class="md:flex items-center justify-between pt-8"> 
                    <div class="flex items-center">
                        <div role="img" aria-label="graph" tabindex="0" class="focus:outline-none flex items-center justify-center w-12 h-12 bg-purple-100 rounded-full">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card92-svg1.svg" alt="icon"/>
                           
                        </div>
                        <div class="pl-4">
                            <p tabindex="0" class="focus:outline-none w-11 text-lg font-semibold leading-none text-gray-800 dark:text-gray-100">230k</p>
                            <a href="javascript:void(0)" class="focus:outline-none focus:text-indigo-800 hover:text-indigo-800 text-gray-500 dark:text-gray-400  "><p class="w-8  mt-2 text-xs leading-3">Sales</p></a>
                        </div>
                    </div>
                    <div class="flex items-center md:pt-0 pt-4 md:pl-10">
                        <div tabindex="0" role="img" aria-label="user" class="focus:outline-none flex items-center justify-center w-12 h-12 bg-blue-100 rounded-full">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card92-svg2.svg" alt="icon"/>
                           
                        </div>
                        <div class="pl-4">
                            <p tabindex="0" class="focus:outline-none w-11 text-lg font-semibold leading-none text-gray-800 dark:text-gray-100">8.549k</p>
                            <a href="javascript:void(0)" class="focus:outline-none focus:text-indigo-800 hover:text-indigo-800 text-gray-500 dark:text-gray-400  "><p class="w-8 text-xs leading-3  mt-2 ">Customers</p></a>
                        </div>
                    </div>
                    <div class="flex items-center md:pt-0 pt-4 md:pl-10">
                        <div role="img" aria-label="box" tabindex="0" class="focus:outline-none flex items-center justify-center w-12 h-12 bg-red-100 rounded-full">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card92-svg3.svg" alt="icon"/>
                           
                        </div>
                        <div class="pl-4">
                            <p tabindex="0" class="focus:outline-none w-11 text-lg font-semibold leading-none text-gray-800 dark:text-gray-100">1.423k</p>
                            <a href="javascript:void(0)" class="focus:outline-none focus:text-indigo-800 hover:text-indigo-800 text-gray-500 dark:text-gray-400  "><p class="w-8 text-xs mt-2 leading-3 ">Products</p></a>
                        </div>
                    </div>
                    <div class="flex items-center md:pt-0 pt-4 md:pl-10">
                        <div aria-label="dollar" role="img" tabindex="0" class="focus:outline-none flex items-center justify-center w-12 h-12 bg-green-100 rounded-full">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card92-svg4.svg" alt="icon"/>
                           
                        </div>
                        <div class="pl-4">
                            <p tabindex="0" class="focus:outline-none w-11 text-lg font-semibold leading-none text-gray-800 dark:text-gray-100">$9745</p>
                            <a href="javascript:void(0)" class="focus:outline-none focus:text-indigo-800 hover:text-indigo-800 text-gray-500 dark:text-gray-400  "><p class="w-8 text-xs leading-3  mt-2">Revenue</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
