<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 66</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center w-full h-full py-12 px-4">
            <div class="max-w-sm bg-white p-10 dark:bg-gray-800 rounded">
                <div class="sm:pr-12 pr-5">
                    <div class="flex items-end">
                        <p tabindex="0" class="focus:outline-none sm:text-5xl text-4xl font-bold leading-10 text-indigo-700">$5</p>
                        <p tabindex="0" class="focus:outline-none text-xs font-medium leading-4 text-indigo-700">/ per month</p>
                    </div>
                    <p tabindex="0" class="focus:outline-none pt-4 sm:text-3xl text-2xl font-bold leading-10 dark:text-gray-100 text-gray-800">Basic</p>
                    <p tabindex="0" class="focus:outline-none pt-1.5 sm:text-sm text-xs leading-5 dark:text-gray-400 text-gray-500">To familiarize yourself with our tools</p>
                    <div class="flex items-center pt-10">
                        <img class="focus:outline-none"  src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card66-svg1.svg" alt="tag" />
                        
                        <p tabindex="0" class="focus:outline-none dark:text-gray-100 sm:pl-1 pl-2 sm:text-base text-sm leading-4 text-gray-800">Host Project</p>
                    </div>
                    <div class="flex items-center pt-5">
                        <img class="focus:outline-none" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card66-svg2.svg" alt="tag"/>
                       
                        <p tabindex="0" class="focus:outline-none dark:text-gray-100 sm:pl-1 pl-2 sm:text-base text-sm leading-4 text-gray-800">Billing</p>
                    </div>
                    <div class="flex items-center pt-5">
                        <img class="focus:outline-none" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card66-svg2.svg" alt="tag"/>
                        <p tabindex="0" class="focus:outline-none dark:text-gray-100 sm:pl-1 pl-2 sm:text-base text-sm leading-4 text-gray-800">Support</p>
                    </div>
                    <div class="flex items-center pt-5">
                        <img class="focus:outline-none" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card66-svg2.svg" alt="tag"/>
                        <p tabindex="0" class="focus:outline-none dark:text-gray-100 sm:pl-1 pl-2 sm:text-base text-sm leading-4 text-gray-800">Customer Domen</p>
                    </div>
                    <div class="flex items-center pt-5">
                        <img class="focus:outline-none" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card66-svg2.svg" alt="tag"/>
                        <p tabindex="0" class="focus:outline-none dark:text-gray-100 sm:pl-1 pl-2 sm:text-base text-sm leading-4 text-gray-800">Dashboard</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
