<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <title>Boxed Layout</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
       <!--  <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script> -->
    </head>

    <body style="font-family: 'Lato', sans-serif; height: 600px">
        <!-- Navigation starts -->
        <!-- Mobile -->
        <div id="mobile-nav" class="w-full h-full xl:hidden absolute z-40">
            <div class="bg-gray-800 opacity-50 inset-0 fixed w-full h-full" onclick="sidebarHandler(false)"></div>
            <div class="w-64 z-20 absolute left-0 z-40 top-0 bg-gray-800 shadow flex-col justify-between transition duration-150 ease-in-out h-full">
                <div class="flex flex-col justify-between h-full">
                    <div class="px-6 pt-4 overflow-y-auto">
                        <div class="flex items-center justify-between">
                            <div aria-label="Home" role="img" class="flex items-center">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg10.svg" alt="logo">
                                <p class="text-bold md:text2xl text-base pl-3 text-gray-800">The North</p>
                            </div>
                            <button id="cross" class="hidden text-white focus:outline-none focus:ring-2 focus:ring-white rounded" onclick="sidebarHandler(false)">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg1.svg" alt="cross">
                            </button>
                        </div>
                        <ul class="f-m-m">
                                <li class="text-white pt-8">
                                    <div class="flex items-center">
                                        <div class="md:w-6 md:h-6 w-5 h-5">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg2.svg" alt="Dashboard">
                                        </div>
                                        <a href="javascript:void(0)" class="text-indigo-400 ml-3 text-lg">Dashboard</a>
                                    </div>
                                </li>
                                <li class="text-white pt-8">
                                    <div class="flex items-center">
                                        <div class="flex items-center">
                                            <div class="md:w-6 md:h-6 w-5 h-5">
                                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg3.svg" alt="products">
                                            </div>

                                            <a href="javascript:void(0)" class="text-white ml-3 text-lg">Products</a>
                                        </div>
                                        <button id="chevronup" onclick="listHandler(true)" class="ml-4 focus:outline-none focus:ring-2 focus:ring-gray-400">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg4.svg" alt="products">
                                        </button>
                                        <button id="chevrondown" onclick="listHandler(false)" class="hidden ml-4 focus:outline-none focus:ring-2 focus:ring-gray-400">
                                            <img class="transform rotate-180" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg4.svg" alt="products">
                                        </button>
                                    </div>
                                    <div id="list" class="hidden">
                                        <ul class="my-3">
                                            <li class="text-sm text-indigo-400 py-2 px-6"><a href="javascript:void(0)"> Best Sellers</a></li>
                                            <li class="text-sm text-white hover:text-indigo-400 py-2 px-6"><a href="javascript:void(0)"> Out of Stock</a></li>
                                            <li class="text-sm text-white hover:text-indigo-400 py-2 px-6"><a href="javascript:void(0)"> New Products</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="text-white pt-8">
                                    <div class="flex items-center">
                                        <div class="md:w-6 md:h-6 w-5 h-5">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg5.svg" alt="Performance">
                                        </div>
                                        <a href="javascript:void(0)" class="text-white ml-3 text-lg">Performance</a>
                                    </div>
                                </li>
                                <li class="text-white pt-8 mb-1">
                                    <div class="flex items-center">
                                        <div class="flex items-center">
                                            <div class="md:w-6 md:h-6 w-5 h-5">
                                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg6.svg" alt="deliverables">
                                            </div>
                                            <a href="javascript:void(0)" class="text-white ml-3 text-lg">Deliverables</a>
                                        </div>
                                        <div>
                                            <button id="chevronup2" onclick="listHandler2(true)" class="ml-4 focus:outline-none focus:ring-2 focus:ring-gray-400">
                                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg4.svg" alt="deliverables">
                                            </button>
                                            <button id="chevrondown2" onclick="listHandler2(false)" class="hidden ml-4 focus:outline-none focus:ring-2 focus:ring-gray-400">
                                                <img class="transform rotate-180" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg4.svg" alt="deliverables">
                                            </button>
                                        </div>
                                    </div>
                                    <div id="list2" class="hidden">
                                        <ul class="my-3">
                                            <li class="text-sm text-indigo-400 py-2 px-6"><a href="javascript:void(0)"> Best Sellers</a></li>
                                            <li class="text-sm text-white hover:text-indigo-400 py-2 px-6"><a href="javascript:void(0)"> Out of Stock</a></li>
                                            <li class="text-sm text-white hover:text-indigo-400 py-2 px-6"><a href="javascript:void(0)"> New Products</a></li>
                                        </ul>
                                    </div>
                                </li>
                        </ul>
                    </div>
                    <div class="w-full">
                        <div class="flex justify-center mb-4 w-full px-6">
                            <div class="relative w-full">
                                <div class="text-gray-500 absolute ml-4 inset-0 m-auto w-4 h-4">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg7.svg" alt="search">
                                </div>
                                <input class="bg-gray-100 focus:outline-none rounded w-full text-sm text-gray-500 bg-gray-700 pl-10 py-2" type="text" placeholder="Search" />
                            </div>
                        </div>
                        <div class="border-t border-gray-700">
                            <div class="w-full flex items-center justify-between px-6 pt-1">
                                <div class="flex items-center">
                                    <img alt="display avatar" role="img" src="https://tuk-cdn.s3.amazonaws.com/assets/components/boxed_layout/bl_1.png" class="w-8 h-8 rounded-md" />
                                    <p class="text-white text-base leading-4 ml-2">Jane Doe</p>
                                </div>
                                <ul class="flex">
                                    <li class="cursor-pointer text-white pt-5 pb-3">
                                        <a href="javascript:void(0)"> 
                                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg8.svg" alt="message">
                                        </a>
                                    </li>
                                    <li class="cursor-pointer text-white pt-5 pb-3 pl-3">
                                        <a href="javascript:void(0)"> 
                                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg9.svg" alt="notifications">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile -->
        <nav class="w-full mx-auto bg-gray-800 shadow">
            <div class="justify-between container px-6 h-16 flex items-center lg:items-stretch mx-auto">
                <div class="flex items-center">
                    <div aria-label="Home" role="img" class="mr-10 flex items-center">
                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg10.svg" alt="logo">
                        <h3 class="text-base text-white font-bold tracking-normal leading-tight ml-3 hidden lg:block">The North</h3>
                    </div>
                    <ul class="pr-32 xl:flex hidden items-center h-full">
                        <li class="hover:text-indigo-500 cursor-pointer h-full flex items-center text-sm text-indigo-400 tracking-normal"><a href="javascript:void(0)" class="focus:outline-none focus:ring-2 focus:ring-white">Dashboard</a></li>
                        <li class="hover:text-indigo-400 cursor-pointer h-full flex items-center text-sm text-white mx-10 tracking-normal relative" onclick="dropdownHandler(this)">
                            <a href="javascript:void(0)" class="focus:outline-none focus:ring-2 focus:ring-white">
                                Products
                            </a>
                            <button aria-label="Toggle products list" role="button" class="ml-2 focus:outline-none focus:ring-2 focus:ring-white rounded" >
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg4.svg" alt="products">
                            </button>
                            <ul class="bg-white shadow rounded py-1 w-32 left-0 mt-16 -ml-4 absolute hidden top-0">
                                <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal"><a href="javascript:void(0)"> Landing Pages</a></li>
                                <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal"><a href="javascript:void(0)"> Templates</a></li>
                                <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal"><a href="javascript:void(0)"> Components</a></li>
                            </ul>
                        </li>
                        <li class="hover:text-indigo-400 cursor-pointer h-full flex items-center text-sm text-white mr-10 tracking-normal"><a href="javascript:void(0)" class="focus:outline-none focus:ring-2 focus:ring-white"> Performance </a> </li>
                        <li class="hover:text-indigo-400 cursor-pointer h-full flex items-center text-sm text-white tracking-normal relative" onclick="dropdownHandler(this)">
                            <a href="javascript:void(0)" class="focus:outline-none focus:ring-2 focus:ring-white">
                                Deliverables
                            </a>
                            <button aria-label="toggle deliverables list" role="button" class="ml-2 focus:outline-none focus:ring-2 focus:ring-white rounded">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg4.svg" alt="deliverables">
                            </button>
                            <ul class="bg-white shadow rounded py-1 w-32 left-0 mt-16 -ml-4 absolute hidden top-0">
                                <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal"><a href="javascript:void(0)"> Landing Pages </a></li>
                                <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal"><a href="javascript:void(0)"> Templates</a></li>
                                <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal"><a href="javascript:void(0)"> Components</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="h-full xl:flex hidden items-center justify-end">
                    <div class="h-full flex items-center">
                        <div class="w-32 pr-16 h-full flex items-center justify-end border-gray-700 border-r"></div>
                        <div class="w-full h-full flex">
                            <div class="w-16 xl:w-32 h-full flex items-center justify-center xl:border-r border-gray-700">
                                <div class="relative">
                                    <div class="w-6 h-6 xl:w-auto xl:h-auto text-gray-400">
                                        <a href="javascript:void(0)" aria-label="notifications" role="link">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg9.svg" alt="notifications">
                                        </a>
                                    </div>
                                    <div class="animate-ping w-2 h-2 rounded-full bg-red-400 border border-white absolute inset-0 mt-1 mr-1 m-auto"></div>
                                </div>
                            </div>
                            <div aria-haspopup="true" class="cursor-pointer w-full flex items-center justify-end relative" onclick="dropdownHandler(this)">
                                <button aria-haspopup="true" onclick="dropdownHandler(this)" class="flex items-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 rounded" >
                                    <img class="rounded-full h-10 w-10 object-cover" src="https://tuk-cdn.s3.amazonaws.com/assets/components/sidebar_layout/sl_1.png" alt="display avatar" role="img" />
                                    <p class="text-white text-sm ml-2">Jane Doe</p>
                                </button>
                                <ul class="p-2 w-40 border-r bg-white absolute rounded z-40 left-0 shadow mt-64 hidden">
                                    <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                                        <div class="flex items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" />
                                                <circle cx="12" cy="7" r="4" />
                                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                            </svg>
                                            <a href="javascript:void(0)" class="ml-2">My Profile</a>
                                        </div>
                                    </li>
                                    <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" />
                                            <circle cx="12" cy="12" r="9" />
                                            <line x1="12" y1="17" x2="12" y2="17.01" />
                                            <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
                                        </svg>
                                        <a href="javascript:void(0)" class="ml-2">Help Center</a>
                                    </li>
                                    <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" />
                                            <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <a href="javascript:void(0)" class="ml-2">Account Settings</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visible xl:hidden flex items-center">
                    <button id="menu" class="text-white focus:outline-none focus:ring-2 focus:ring-gray-300 rounded" onclick="sidebarHandler(true)">
                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg12.svg" alt="toggler">
                    </button>
                </div>
            </div>
        </nav>
        <!-- Navigation ends -->
        <!-- Page title starts -->
        <div class="bg-gray-200 w-full">
            <div class="container px-6 py-6 sm:py-0 mx-auto">
                <div class="sm:hidden bg-white w-full relative">
                    <div class="absolute inset-0 m-auto mr-4 z-0 w-6 h-6">
                       <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dark_with_tabs_on_grey_bg-svg11.svg" alt="toggler">
                    </div>
                    <select aria-label="Selected tab" class="form-select block w-full p-3 border border-gray-300 rounded text-gray-600 appearance-none bg-transparent relative z-10">
                        <option selected="" class="text-sm text-gray-600">Active</option>
                        <option class="text-sm text-gray-600">Earnings</option>
                        <option class="text-sm text-gray-600">Forecasting</option>
                        <option class="text-sm text-gray-600">Reports</option>
                    </select>
                </div>
                <ul class="hidden sm:flex flex-col sm:flex-row items-start sm:items-center h-full py-5">
                    <li class="px-6 py-2 flex items-center justify-center bg-white shadow text-sm text-gray-800 rounded"><a href="javascript:void(0)">Active </a></li>
                    <li class="px-6 flex items-center justify-center my-5 sm:my-0 text-sm text-gray-600"><a href="javascript:void(0)"> Earnings</a></li>
                    <li class="px-6 flex items-center justify-center mb-5 sm:mb-0 text-sm text-gray-600"><a href="javascript:void(0)"> Forecasting</a></li>
                    <li class="px-6 flex items-center justify-center text-sm text-gray-600"><a href="javascript:void(0)"> Reports </a></li>
                </ul>
            </div>
        </div>
        <!-- Page title ends -->
        <!-- Remove class [ h-64 ] when adding a card block -->
        <div class="container mx-auto px-6 mt-10 h-64">
            <!-- Remove class [ border-dashed border-2 border-gray-300 ] to remove dotted border -->
            <div class="w-full h-full rounded border-dashed border-2 border-gray-300">
                <!-- Place your content here -->
            </div>
        </div>
        <script>
            function dropdownHandler(element) {
                let single = element.getElementsByTagName("ul")[0];
                single.classList.toggle("hidden");
            }
            function MenuHandler(el, val) {
                let MainList = el.parentElement.getElementsByTagName("ul")[0];
                let closeIcon = el.parentElement.getElementsByClassName("close-m-menu")[0];
                let showIcon = el.parentElement.getElementsByClassName("show-m-menu")[0];
                if (val) {
                    MainList.classList.remove("hidden");
                    el.classList.add("hidden");
                    closeIcon.classList.remove("hidden");
                } else {
                    showIcon.classList.remove("hidden");
                    MainList.classList.add("hidden");
                    el.classList.add("hidden");
                }
            }
            let sideBar = document.getElementById("mobile-nav");
            let menu = document.getElementById("menu");
            let cross = document.getElementById("cross");
            sideBar.style.transform = "translateX(-100%)";
            const sidebarHandler = (check) => {
                if (check) {
                    sideBar.style.transform = "translateX(0px)";
                    menu.classList.add("hidden");
                    cross.classList.remove("hidden");
                } else {
                    sideBar.style.transform = "translateX(-100%)";
                    menu.classList.remove("hidden");
                    cross.classList.add("hidden");
                }
            };
            let list = document.getElementById("list");
            let chevrondown = document.getElementById("chevrondown");
            let chevronup = document.getElementById("chevronup");
            const listHandler = (check) => {
                if (check) {
                    list.classList.remove("hidden");
                    chevrondown.classList.remove("hidden");
                    chevronup.classList.add("hidden");
                } else {
                    list.classList.add("hidden");
                    chevrondown.classList.add("hidden");
                    chevronup.classList.remove("hidden");
                }
            };
            let list2 = document.getElementById("list2");
            let chevrondown2 = document.getElementById("chevrondown2");
            let chevronup2 = document.getElementById("chevronup2");
            const listHandler2 = (check) => {
                if (check) {
                    list2.classList.remove("hidden");
                    chevrondown2.classList.remove("hidden");
                    chevronup2.classList.add("hidden");
                } else {
                    list2.classList.add("hidden");
                    chevrondown2.classList.add("hidden");
                    chevronup2.classList.remove("hidden");
                }
            };
        </script>
        <script src="./index.js"></script>
    </body>
</html>
