<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
        <!-- <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script> -->
    </head>

    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center w-full h-full py-8 px-4">
            <div class="max-w-md px-8 py-8 bg-gradient-to-tl from-indigo-500 to-purple-500 rounded-lg">
                <div class="flex w-full items-center justify-between">
                    <a tabindex="0" class="cursor-pointer focus:underline focus:text-indigo-200 focus:outline-none hover:text-indigo-200 text-xl font-semibold leading-tight text-white">AlphaBank</a>
                   <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card54-svg1.svg" alt="alphaBank"/>
                </div>
                <a tabindex="0" class="cursor-pointer focus:underline focus:outline-none focus:text-indigo-200 hover:text-indigo-200 text-white"><p class="text-base font-medium leading-3  mt-16">Henry Richardson</p></a>
                <p class="text-2xl font-semibold leading-4 text-white mt-4">4567 **** **** 4501</p>
                <div class="flex items-center mt-10">
                    <p class="text-xl leading-tight text-white">04&nbsp;/&nbsp;23</p>
                    <div class="flex items-center pl-24 sm:pl-48">
                        <div class="flex items-center pr-2">
                            <div class="w-5 h-5 bg-red-600 rounded-full z-10"></div>
                            <div class="w-5 h-5 bg-yellow-500 -ml-2 z-0 rounded-full"></div>
                        </div>
                        <button class="focus:outline-none  focus:text-indigo-200 focus:underline hover:text-indigo-200 text-sm font-semibold leading-3 text-white">mastercard</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
