<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
    <title>card-3</title>
    <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
</head>
 
<body>
    <div class="flex justify-center py-14 px-4 w-full">
        <div
            class="w-96 relative z-10 bg-white dark:bg-gray-900 border dark:border-gray-700 rounded-lg p-4 md:p-6 mx-auto">
            <div class="flex items-center justify-between w-full"><a
                    class="focus:outline-none  text-sm lg:text-xl font-extrabold text-gray-900 dark:text-gray-50 min-h-56"
                    href="javascript:void(0)">Reels - Photography template</a></div>
            <p tabindex="0"
                class="focus:outline-none mt-3 text-xs md:text-base font-light leading-none text-gray-700 dark:text-gray-400">
                Photography website with aesthetic design</p>
            <div class="mt-4 flex items-center">
                <img class="focus:outline-none mr-4" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card112-svg1.svg" alt="html"/>
                <img class="focus:outline-none mr-4" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card112-svg2.svg" alt="react"/>
                <img class="focus:outline-none mr-4" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card112-svg3.svg" alt="angular"/>
                <img class="focus:outline-none mr-4" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card112-svg4.svg" alt="vue"/> 
            </div>
            <div class="mt-7 w-full justify-end flex">
                <div class="flex items-stretch">
                    <button
                        class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 focus:outline-none py-2 px-6 border rounded border-gray-700 text-sm md:text-base md:font-medium text-gray-700 dark:text-gray-300 mr-3 leading-4 hover:bg-gray-100 focus:bg-gray-100 dark:hover:bg-gray-800 dark:focus:bg-gray-800">Preview</button><button
                        aria-label="shopping cart"
                        class="focus:ring-2 focus:ring-offset-2 focus:ring-red-500 text-white focus:outline-none bg-gradient-to-r from-red-500 to-pink-500 rounded-md py-2 px-3">
                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card112-svg5.svg" alt="shopping cart"/>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>