<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <title>card-2</title>
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="overflow-y-hidden">
        <div class="py-12 flex justify-center">
            <div class="cursor-pointer flex flex-col mt-4 md:mt-0">
                <div class="flex justify-center items-center border rounded-tl rounded-tr border-gray-200 dark:border-gray-800">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card111-svg1.svg" alt="grid card"/>
                    
                </div>
                <div class="flex justify-between w-full px-4 py-5 bg-gray-100 dark:bg-gray-800 rounded-bl-sm rounded-br-sm">
                    <p tabindex="0" class="focus:outline-none text-xl leading-tight tracking-tight text-gray-900 dark:text-gray-50 capitalize">Grid card</p>
                    <p tabindex="0" class="focus:outline-none text-xl leading-tight tracking-tight text-gray-900 dark:text-gray-50">12</p>
                </div>
            </div>
        </div>
    </body>
</html> 
