<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 108</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-12 sm:px-6 px-4">
        <div class="max-w-sm px-6 py-6 rounded shadow bg-white dark:bg-gray-800">
            <div class="flex items-center justify-between">
                <div class="w-20 h-20">
                    <div aria-label="tuk logo" role="img" tabindex="0" class="focus:outline-none rounded-full w-full h-full bg-gray-100 flex items-center justify-center">
                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card108-svg1.svg" alt="tuk"/>
                    </div> 
                </div>
                <p tabindex="0" class="focus:outline-none text-base md:text-lg font-semibold leading-4 text-right text-gray-500 dark:text-gray-400">3 days ago</p>
            </div>
            <p tabindex="0" class="focus:outline-none text-base md:text-lg font-bold leading-5 text-gray-800 dark:text-gray-100 mt-4">Creative Personnel (Graphics Design / Digital Media)</p>
            <div>
                <div class="flex items-center mt-6">
                    <div class="bg-gray-100 dark:bg-gray-800 rounded-full px-4 py-1 flex items-center justify-center">
                        <p tabindex="0" class="focus:outline-none text-xs font-semibold leading-loose text-center text-gray-600 dark:text-gray-400">Full Time</p>
                    </div>
                    <div class="bg-gray-100 dark:bg-gray-800 rounded-full px-4 py-1 flex items-center justify-center ml-4">
                        <p tabindex="0" class="focus:outline-none text-xs font-semibold leading-loose text-center text-gray-600 dark:text-gray-400">2 years</p>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-between mt-5">
                <p tabindex="0" class="focus:outline-none text-base md:text-lg font-semibold leading-5 text-center text-indigo-700">$18-22/hr</p>
                <div class="flex items-center">
                    <svg aria-label="location icon" role="img" tabindex="0" class="focus:outline-none w-4 sm:w-6 md:w-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 30" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 9C10.7595 9 9.75 10.0095 9.75 11.25C9.75 12.4905 10.7595 13.5 12 13.5C13.2405 13.5 14.25 12.4905 14.25 11.25C14.25 10.0095 13.2405 9 12 9ZM12 16.5C9.105 16.5 6.75 14.145 6.75 11.25C6.75 8.355 9.105 6 12 6C14.895 6 17.25 8.355 17.25 11.25C17.25 14.145 14.895 16.5 12 16.5ZM12 0C5.3835 0 0 5.331 0 11.8845C0 20.0955 10.5735 29.253 11.0235 29.6385C11.3055 29.88 11.652 30 12 30C12.348 30 12.6945 29.88 12.9765 29.6385C13.4265 29.253 24 20.0955 24 11.8845C24 5.331 18.6165 0 12 0Z" fill="#1F2937" />
                    </svg>
                    <p tabindex="0" class="focus:outline-none text-sm md:text-base leading-4 text-gray-800 dark:text-gray-100 ml-1">Texas, USA</p>
                </div>
            </div>
        </div>
    </body>
</html>
