<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body class="bg-gray-200">
    <div class="py-12 px-4">
      <div
        role="alert_alert_9"
        id="alert_alert_9"
        class="transition duration-150 ease-in-out lg:max-w-[260px] max-w-[246px] w-full mx-auto bg-white py-8 px-4 relative rounded-md"
      >
        <svg
          class="absolute right-4 top-4 cursor-pointer"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 4L4 12"
            stroke="#6B7280"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M4 4L12 12"
            stroke="#6B7280"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <div class="mx-auto">
          <svg
            class="mx-auto"
            width="48"
            height="48"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24 4V12"
              stroke="#3B82F6"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M24 36V44"
              stroke="#3B82F6"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9.85986 9.85938L15.5199 15.5194"
              stroke="#3B82F6"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M32.48 32.4805L38.14 38.1405"
              stroke="#3B82F6"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4 24H12"
              stroke="#3B82F6"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M36 24H44"
              stroke="#3B82F6"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9.85986 38.1405L15.5199 32.4805"
              stroke="#3B82F6"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M32.48 15.5194L38.14 9.85938"
              stroke="#3B82F6"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p
            class="text-base font-semibold leading-normal text-center text-gray-800 mt-4 mb-3"
          >
            Pending Message
          </p>
          <p class="text-xs leading-[18px] text-center text-gray-600">
            The content of this message will go <br />
            here! you can add as much as you want to add.
          </p>

          <div class="flex justify-center items-center gap-x-3 mt-4">
            <p
              class="text-xs font-medium leading-3 text-center text-blue-600 cursor-pointer hover:underline"
            >
              View Details
            </p>
            <p
              onclick="closeAlert_alert_9()"
              class="text-xs font-medium leading-3 text-center text-gray-600 cursor-pointer"
            >
              Dismiss
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
      var Alert_alert_9 = document.getElementById("alert_alert_9");
      var close_alert_9 = document.getElementById("close-modal_alert_9");
      Alert_alert_9.style.transform = "translateY(0%)";
      function closeAlert_alert_9() {
        Alert_alert_9.style.transform = "translateY(-200%)";

        setTimeout(function () {
          Alert_alert_9.style.transform = "translateY(0%)";
        }, 1000);
      }
    </script>
  </body>
</html>
