<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Component-29</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900">
        <div tabindex="0" aria-label="card" class="focus:outline-none flex items-center justify-center py-8 px-4">
            <div class="md:w-96 rounded shadow-lg p-5 bg-white dark:bg-gray-800 w-full">
                <h1 tabindex="0" class="focus:outline-none text-lg font-bold leading-3 text-gray-800 dark:text-gray-100">Select Payment Options</h1>
                <div class="pt-7">
                    <div class="flex items-start justify-between">
                        <div class="flex items-start">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card14-svg1.svg" alt="visa card"/>
                            
                            <div class="flex flex-col pl-2">
                                <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-3 text-gray-800 dark:text-gray-100">Ending with 7562</p>
                                <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-2 text-gray-600 dark:text-gray-400">CVV: 822 | Expiry: 07/2021</p>
                            </div>
                        </div>
                        <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-3 text-right text-gray-800 dark:text-gray-100">$12,300</p>
                    </div>
                </div>
                <div class="pt-6">
                    <div class="flex items-start justify-between">
                        <div class="flex items-start">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card14-svg2.svg" alt="amex card"/>
                            
                            <div class="flex flex-col pl-2">
                                <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-3 text-gray-800 dark:text-gray-100">Ending with 1881</p>
                                <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 pt-2">CVV: 822 | Expiry: 07/2021</p>
                            </div>
                        </div>
                        <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-3 text-right text-gray-800 dark:text-gray-100">$9,300</p>
                    </div>
                </div>
                <div class="pt-6">
                    <div class="flex items-start justify-between">
                        <div class="flex items-start">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card14-svg3.svg" alt="master card"/>
                          
                            <div class="flex flex-col pl-2">
                                <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-3 text-gray-800 dark:text-gray-100">Ending with 1929</p>
                                <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 pt-2">CVV: 822 | Expiry: 07/2021</p>
                            </div>
                        </div>
                        <p tabindex="0" class="focus:outline-none text-sm font-semibold leading-3 text-right text-gray-800 dark:text-gray-100">$99,300</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
