<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center w-full h-full py-8 px-4">
            <div class="w-80 bg-white dark:bg-gray-800 rounded py-4">
                <p tabindex="0" class="focus:outline-none text-xl font-semibold leading-5 px-8 text-gray-800 dark:text-gray-100">Personal Details</p>
                <hr class="w-full border-gray-200 mt-4 mb-6" />
                <div class="px-8">
                    <div class="flex items-center">
                        <div aria-label="user icon" role="img" tabindex="0" class="focus:outline-none text-gray-500 dark:text-gray-200">
                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card45-svg1.svg" alt="profile"/>
                            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card45-svg1dark.svg" alt="profile"/>
                        </div>
                        <p tabindex="0" class="focus:outline-none text-base font-medium leading-4 pl-6 text-gray-800 dark:text-gray-400">Walter Hartwell White</p>
                    </div>
                    <div class="flex items-center mt-6">
                        <div aria-label="chat icon" role="img" tabindex="0" class="focus:outline-none text-gray-500 dark:text-gray-200">
                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card45-svg2.svg" alt="message"/>
                            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card45-svg2dark.svg" alt="message"/>
                           
                        </div>
                        <p tabindex="0" class="focus:outline-none text-base font-medium leading-4 pl-6 text-gray-800 dark:text-gray-400">heisenberg@gmail.com</p>
                    </div>
                    <div class="flex items-start mt-6">
                        <div aria-label="phone icon" role="img" tabindex="0" class="focus:outline-none text-gray-500 dark:text-gray-200">
                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card45-svg3.svg" alt="phone"/>
                            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card45-svg3dark.svg" alt="phone"/>
                           
                        </div>
                        <div>
                            <div class="flex">
                                <p tabindex="0" class="focus:outline-none text-base font-medium leading-4 px-6 text-gray-800 dark:text-gray-400">0900-78601</p>
                                <p tabindex="0" class="focus:outline-none text-base font-medium leading-4 text-indigo-700">work</p>
                            </div>
                            <div class="flex mt-3">
                                <p tabindex="0" class="focus:outline-none text-base font-medium leading-4 px-6 text-gray-800 dark:text-gray-400">0900-78601</p>
                                <p tabindex="0" class="focus:outline-none text-base font-medium leading-4 text-indigo-700">home</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-6">
                        <div aria-label="location icon" role="img" tabindex="0" class="focus:outline-none text-gray-500 dark:text-gray-200">
                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card45-svg4.svg" alt="location"/>
                            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card45-svg4dark.svg" alt="location"/>
                           
                        </div>
                        <p tabindex="0" class="focus:outline-none text-base font-medium leading-4 pl-6 text-gray-800 dark:text-gray-400">Alberquerque, New Mexico</p>
                    </div>
                    <div class="flex items-center mt-6">
                        <div aria-label="cake icon" role="img" tabindex="0" class="focus:outline-none text-gray-500 dark:text-gray-200">
                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card45-svg5.svg" alt="birthday"/>
                            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card45-svg5dark.svg" alt="birthday"/>
                        </div>
                        <p tabindex="0" class="focus:outline-none text-base font-medium leading-4 pl-6 text-gray-800 dark:text-gray-400">29th Feb, 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
