<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ticket With Barcode</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900" style="min-height: 500px">
        <div class="flex items-center justify-center py-8">
            <div class="cursor-pointer rounded-md shadow-lg bg-white dark:bg-gray-800 relative">
                <div class="py-5">
                    <div class="px-6">
                        <p tabindex="0" class="focus:outline-none text-xs text-gray-500">Event</p>
                        <p tabindex="0" class="focus:outline-none text-sm leading-none text-justify text-gray-800 dark:text-gray-100 mt-1">New Year Costume Party</p>
                    </div>
                    <div class="mt-5 px-6"> 
                        <p tabindex="0" class="focus:outline-none text-xs text-gray-500">Day</p>
                        <p tabindex="0" class="focus:outline-none text-sm leading-none text-justify text-gray-800 dark:text-gray-100 mt-1">Tuesday, 9:00pm - 11:00pm</p>
                    </div>
                    <div class="mt-5 px-6">
                        <p tabindex="0" class="focus:outline-none text-xs text-gray-500">Date</p>
                        <p tabindex="0" class="focus:outline-none text-sm leading-none text-justify text-gray-800 dark:text-gray-100 mt-1">14th September 2020</p>
                    </div>
                    <div class="mt-5 px-6 flex items-center w-full">
                        <div>
                            <p tabindex="0" class="focus:outline-none text-xs text-gray-500">Tickets Sold</p>
                            <p tabindex="0" class="focus:outline-none text-sm leading-none text-justify text-gray-800 dark:text-gray-100 mt-1">857</p>
                        </div>
                        <div class="ml-14">
                            <p tabindex="0" class="focus:outline-none text-xs text-gray-500">Revenue Earned</p>
                            <p tabindex="0" class="focus:outline-none text-sm leading-none text-justify text-gray-800 dark:text-gray-100 mt-1">$7698</p>
                        </div>
                    </div>
                    <div class="mt-5 px-6 flex items-center text-gray-700 dark:text-gray-400">
                        <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/ticket_with_barcode-svg1.svg" alt="icon"/>
                        <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/ticket_with_barcode-svg1dark.svg" alt="icon"/>
                       
                        <p tabindex="0" class="focus:outline-none ml-2 text-xs leading-3 text-gray-600 dark:text-gray-400">Veevents.com/cosutmeparty</p>
                        <p></p>
                        <img class="focus:outline-none ml-3.5 cursor-pointer " src="https://tuk-cdn.s3.amazonaws.com/can-uploader/ticket_with_barcode-svg2.svg" alt="icon"/>
                        
                        
                    </div>
                    <div class="pt-6 flex justify-between relative items-center w-full">
                        <div class="w-3 h-5 dark:bg-gray-400 rounded-r-3xl"></div>
                        <div class="w-full border-b-2 border-dashed border-gray-100 dark:border-gray-400"></div>
                        <div class="w-3 h-5 dark:bg-gray-400 rounded-l-3xl"></div>
                    </div>
                    <div class="mt-4 px-6 flex flex-col w-full justify-center items-center">
                        <img tabindex="0" class="focus:outline-none"  src="https://cdn.tuk.dev/assets/templates/virtual-event-management/barCode.png" alt="barcode" />
                        <p tabindex="0" class="focus:outline-none text-sm font-bold leading-none text-gray-700 dark:text-gray-400 mt-2">253704938890287467</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
