<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 85</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-12 px-6" style="height: 500px">
        <div> 
            <div class="max-w-sm rounded bg-white dark:bg-gray-800 shadow p-4 sm:p-5">
                <img src="https://i.ibb.co/6RsnQT1/Rectangle-14.png" alt="public-photo" tabindex="0" class="focus:outline-none w-full" />
                <p tabindex="0" class="focus:outline-none text-base leading-5 pt-6 dark:text-gray-100">The vaccine is ready, but are we ready to try it on humans as well?</p>
                <div class="flex items-center justify-between pt-4">
                    <div class="flex items-center">
                        <img class="focus:outline-none"  src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card85-svg1.svg" alt="heart"/>
                       
                        <p tabindex="0" class="focus:outline-none text-xs leading-3 dark:text-gray-400 text-gray-500 pl-3">141</p>
                    </div>
                    <div>
                        <p tabindex="0" class="focus:outline-none text-base font-semibold leading-none text-right text-indigo-700">Read More</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
