<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 76</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900 flex justify-center py-12 px-2 sm:px-6" style="height: 600px">
        <div class="max-w-sm rounded overflow-hidden">
            <img tabindex="0" class="focus:outline-none w-full" src="https://i.ibb.co/vxWWdhp/kitty.png" alt="cat" srcset="" />
            <div class="bg-white dark:bg-gray-800 rounded-b px-4 py-6">
                <div class="flex items-start justify-between">
                    <p tabindex="0" class="focus:outline-none sm:text-base text-sm leading-6 md:leading-5 font-semibold text-gray-800 dark:text-gray-100 sm:w-2/3 sm:pr-0 pr-4">Taking Billy to the vet today, he doesn’t seem excited 😒</p>
                    <img class="dark:hidden focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 focus:outline-none cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card76-svg1.svg" alt="menu dots"/>
                    <img class="hidden dark:block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 focus:outline-none cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card76-svg1dark.svg" alt="menu dots"/>
                </div>

                <div class="flex items-center mt-6">
                    <div class="relative">
                        <div class="border-2 border-white w-4 h-4 bg-indigo-700 rounded-b absolute m-auto inset-0 -mr-1 mt-0"></div>
                        <img tabindex="0" class="focus:outline-none w-12" src="https://i.ibb.co/WnVgd7B/DP.png" alt="man avatar" srcset="" />
                    </div>
                    <div class="ml-4">
                        <p tabindex="0" class="focus:outline-none sm:text-base font-semibold text-gray-800 dark:text-gray-100">Tolu Arowoselu</p>
                        <p tabindex="0" class="focus:outline-none sm:text-sm pt-1 text-gray-500 dark:text-gray-400">Activist</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
