<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grid card</title>
        <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet" />
    </head>
    <body class="flex items-center justify-center px-4 py-8">
        <div class="px-4 shadow rounded-lg sm:px-6 md:px-8 pt-5 pb-11 md:w-1/2 w-full sm:border-r border-gray-200">
            <div class="sm:flex items-center justify-between">
                <div>
                    <p class="text-base font-bold leading-none text-gray-800">Employee Performance</p>
                    <p class="text-xs leading-3 text-gray-600 mt-2">as of 25 May 2019, 09:41 PM</p>
                </div>
                <div class="w-40 sm:w-auto mt-4 sm:mt-0 py-3 px-4 flex items-center text-sm font-medium leading-none text-gray-600 bg-gray-100 hover:bg-gray-200 cursor-pointer rounded">
                    <p>Sort By:</p>
                    <select aria-label="sort by" class="focus:outline-none bg-transparent ml-1">
                        <option class="text-sm text-indigo-800">Latest</option>
                        <option class="text-sm text-indigo-800">Oldest</option>
                        <option class="text-sm text-indigo-800">Latest</option>
                    </select>
                </div>
            </div> 
            <div class="mt-9">
                <p class="text-sm font-medium tracking-wide leading-none text-gray-600">8 task completed out of 10</p>
                <div class="w-full bg-gray-200 rounded-full h-1 mt-4">
                    <div class="bg-green w-3/4 rounded-full h-1"></div>
                </div>
            </div>
            <div class="px-9 w-full flex items-center justify-between mt-12 border-b border-gray-200 pb-6">
                <div class="flex flex-col items-center">
                    <button class="opacity-50 text-xs font-medium leading-3 text-center text-gray-600 focus:outline-none focus:text-indigo-700 hover:text-indigo-700">Sun</button>
                    <button class="px-1.5 py-1.5 bg-indigo-700 rounded-full focus:outline-none text-xs leading-3 text-center text-white mt-1">23</button>
                </div>
                <div class="flex flex-col items-center">
                    <button class="opacity-50 text-xs font-medium leading-3 text-center focus:outline-none text-indigo-700">Mon</button>
                    <button class="px-1.5 py-1.5 bg-transparent focus:bg-indigo-700 focus:font-bold focus:text-white rounded-full focus:outline-none text-xs leading-3 text-center text-indigo-700 mt-1">24</button>
                </div>
                <div class="flex flex-col items-center">
                    <button class="opacity-50 text-xs font-medium leading-3 text-center text-gray-600 focus:outline-none focus:text-indigo-700 hover:text-indigo-700">Tue</button>
                    <button class="px-1.5 py-1.5 bg-transparent focus:bg-indigo-700 focus:font-bold focus:text-white rounded-full focus:outline-none text-xs leading-3 text-center text-gray-600 mt-1">25</button>
                </div>
                <div class="flex flex-col items-center">
                    <button class="opacity-50 text-xs font-medium leading-3 text-center text-gray-600 focus:outline-none focus:text-indigo-700 hover:text-indigo-700">Wed</button>
                    <button class="px-1.5 py-1.5 bg-transparent focus:bg-indigo-700 focus:font-bold focus:text-white rounded-full focus:outline-none text-xs leading-3 text-center text-gray-600 mt-1">26</button>
                </div>
                <div class="flex flex-col items-center">
                    <button class="opacity-50 text-xs font-medium leading-3 text-center text-gray-600 focus:outline-none focus:text-indigo-700 hover:text-indigo-700">Thu</button>
                    <button class="px-1.5 py-1.5 bg-transparent focus:bg-indigo-700 focus:font-bold focus:text-white rounded-full focus:outline-none text-xs leading-3 text-center text-gray-600 mt-1">27</button>
                </div>
                <div class="flex flex-col items-center">
                    <button class="opacity-50 text-xs font-medium leading-3 text-center text-gray-600 focus:outline-none focus:text-indigo-700 hover:text-indigo-700">Fri</button>
                    <button class="px-1.5 py-1.5 bg-transparent focus:bg-indigo-700 focus:font-bold focus:text-white rounded-full focus:outline-none text-xs leading-3 text-center text-gray-600 mt-1">28</button>
                </div>
                <div class="flex flex-col items-center">
                    <button class="opacity-50 text-xs font-medium leading-3 text-center text-gray-600 focus:outline-none focus:text-indigo-700 hover:text-indigo-700">Sat</button>
                    <button class="px-1.5 py-1.5 bg-transparent focus:bg-indigo-700 focus:font-bold focus:text-white rounded-full focus:outline-none text-xs leading-3 text-center text-gray-600 mt-1">29</button>
                </div>
            </div>
            <div class="mt-8">
                <div class="sm:flex justify-between items-end">
                    <div>
                        <p class="text-base font-medium leading-none text-gray-700 whitespace-nowrap">Marketing Keynote Presentation</p>
                        <div class="flex items-center space-x-5 mt-4">
                            <div class="flex items-center">
                                <div class="focus:outline-none">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/grid_card_2-svg1.svg" alt="icon"/>
                                    
                                </div>
                                <p class="text-sm leading-none text-gray-600 ml-2">04/07</p>
                            </div>
                            <div class="flex items-center">
                                <div class="focus:outline-none">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/grid_card_2-svg2.svg" alt="icon"/>
                                   
                                </div>
                                <p class="text-sm leading-none text-gray-600 ml-2">23</p>
                            </div>
                            <div class="flex items-center">
                                <div class="focus:outline-none">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/grid_card_2-svg3.svg" alt="icon"/>
                                   
                                </div>
                                <p class="text-sm leading-none text-gray-600 ml-2">04/07</p>
                            </div>
                        </div>
                    </div>
                    <button class="mt-4 sm:mt-0 focus:outline-none px-5 py-2 bg-green-100 text-green-700 rounded text-sm leading-none">Completed</button>
                </div>
                <div class="sm:flex justify-between items-end mt-10">
                    <div>
                        <p class="text-base font-medium leading-none text-gray-700">UX Wireframes</p>
                        <div class="flex items-center space-x-5 mt-4">
                            <div class="flex items-center">
                                <div class="focus:outline-none">
                                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/grid_card_2-svg1.svg" alt="icon"/>
                                </div>
                                <p class="text-sm leading-none text-gray-600 ml-2">04/07</p>
                            </div>
                            <div class="flex items-center">
                                <div class="focus:outline-none">
                                     <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/grid_card_2-svg2.svg" alt="icon"/>
                                </div>
                                <p class="text-sm leading-none text-gray-600 ml-2">23</p>
                            </div>
                            <div class="flex items-center">
                                <div class="focus:outline-none">
                                   <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/grid_card_2-svg3.svg" alt="icon"/>
                                </div>
                                <p class="text-sm leading-none text-gray-600 ml-2">04/07</p>
                            </div>
                        </div>
                    </div>
                    <button class="mt-4 sm:mt-0 focus:outline-none px-5 py-2 bg-green-100 text-green-700 rounded text-sm leading-none">Completed</button>
                </div>
                <div class="sm:flex justify-between items-end mt-10">
                    <div>
                        <p class="text-base font-medium leading-none text-gray-700">Vue integration</p>
                        <div class="flex items-center space-x-5 mt-4">
                            <div class="flex items-center">
                                <div class="focus:outline-none">
                                   <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/grid_card_2-svg1.svg" alt="icon"/>
                                </div>
                                <p class="text-sm leading-none text-gray-600 ml-2">04/07</p>
                            </div>
                            <div class="flex items-center">
                                <div class="focus:outline-none">
                                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/grid_card_2-svg2.svg" alt="icon"/>
                                </div>
                                <p class="text-sm leading-none text-gray-600 ml-2">23</p>
                            </div>
                            <div class="flex items-center">
                                <div class="focus:outline-none">
                                     <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/grid_card_2-svg3.svg" alt="icon"/>
                                </div>
                                <p class="text-sm leading-none text-gray-600 ml-2">04/07</p>
                            </div>
                        </div>
                    </div>
                    <button class="mt-4 sm:mt-0 focus:outline-none px-7 py-2 bg-red-100 text-red-700 rounded text-sm leading-none">Pending</button>
                </div>
            </div>
        </div>
    </body>
</html>
