<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <link href="./assets/css/style.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="dark:bg-gray-900 bg-gray-200">
        <div class="mx-auto container flex justify-center items-center py-12 px-6">
            <div class="max-w-xs">
                <div class="w-full h-64 flex flex-col justify-between bg-white dark:bg-gray-800 rounded-lg border border-gray-400 mb-6 py-5 px-4">
                    <div>
                        <h3 tabindex="0" class="focus:outline-none text-gray-800 dark:text-gray-100 leading-7 font-semibold w-11/12">What does success as a UX designer look like and how to get there systematically</h3>
                    </div> 
                    <div>
                        <div class="mb-3 flex items-center">
                            <div class="border border-gray-300 rounded-full px-3 py-1 text-gray-600 text-xs flex items-center">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/single_card_with_date_and_time-svg1.svg" alt="icon"/>
                               
                                <p tabindex="0" class="focus:outline-none ml-2">7 Sept, 23:00</p>
                            </div>
                            <div class="p-1 bg-gray-800 rounded-full ml-2 text-yellow-500">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/single_card_with_date_and_time-svg2.svg" alt="icon"/>
                                
                            </div>
                        </div>
                        <div class="flex items-center justify-between text-gray-800 dark:text-gray-100">
                            <p tabindex="0" class="focus:outline-none text-sm">March 28, 2020</p>
                            <div class="w-8 h-8 rounded-full bg-gray-800 text-white flex items-center justify-center">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/single_card_with_date_and_time-svg3.svg" alt="icon"/>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
