<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card 18</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center py-8 px-4">
            <div class="bg-white dark:bg-gray-800 md:w-96 rounded px-5 py-5 w-full shadow">
                <p tabindex="0" class="focus:outline-none text-lg font-bold leading-none text-gray-800 dark:text-gray-100">Reviews</p>
                <div class="mt-6">
                    <div class="flex items-start justify-between">
                        <div class="flex items-start">
                            <img tabindex="0" class="focus:outline-none w-8 h-8 rounded-full shadow" src="https://i.ibb.co/6rj5KQ1/card-1.png" alt="boy avatar" />
                            <div class="ml-3">
                                <p tabindex="0" class="focus:outline-none text-sm leading-4 text-gray-800 dark:text-gray-100 font-semibold">Mike Scarn</p>
                                <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-1">Marketing Manager, IMC</p>
                                <p tabindex="0" class="focus:outline-none text-sm leading-4 text-gray-800 dark:text-gray-100 my-3">Incredible job and outstanding work</p>
                                <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-500 dark:text-gray-400">6 days ago</p>
                            </div>
                        </div>
                        <div aria-label="5 star rating" tabindex="0" class="focus:outline-none flex items-center text-yellow-700">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card18-svg1.svg" alt="star"/>
                           
                            <p class="text-sm leading-none text-yellow-700 ml-1">5</p>
                        </div>
                    </div>
                </div>
                <div class="mt-6">
                    <div class="flex items-start justify-between">
                        <div class="flex items-start">
                            <img tabindex="0" class="focus:outline-none w-8 h-8 rounded-full shadow" src="https://i.ibb.co/3pLWb3j/card-2.png" alt="boy avatar" />
                            <div class="ml-3">
                                <p tabindex="0" class="focus:outline-none text-sm leading-4 text-gray-800 dark:text-gray-100 font-semibold">Jim Halpert</p>
                                <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-1">Head of Talent, Creative Co</p>
                                <p tabindex="0" class="focus:outline-none text-sm leading-5 text-gray-800 dark:text-gray-100 my-3">Amazing as always. Very challenging work, with revisions and she made it all to perfection. Third time working together and there will be a lot more!</p>
                                <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-500 dark:text-gray-400">10 days ago</p>
                            </div>
                        </div>
                        <div aria-label="4.5 star rating" tabindex="0" class="focus:outline-none flex items-center text-yellow-700">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card18-svg1.svg" alt="star"/>
                            <p class="text-sm leading-none text-yellow-700 ml-1">4.5</p>
                        </div>
                    </div>
                </div>
                <div class="mt-6">
                    <div class="flex items-start justify-between">
                        <div class="flex items-start">
                            <img tabindex="0" class="focus:outline-none w-8 h-8 rounded-full shadow" src="https://i.ibb.co/4WQN47c/card-3.png" alt="man profile" />
                            <div class="ml-3">
                                <p tabindex="0" class="focus:outline-none text-sm leading-4 text-gray-800 dark:text-gray-100 font-semibold">Dwight Schrute</p>
                                <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-600 dark:text-gray-400 mt-1">Project Manager, J&Ds</p>
                                <p tabindex="0" class="focus:outline-none text-sm leading-4 text-gray-800 dark:text-gray-100 my-3 w-10/12">It was a breeze coordinating with the team, definitely recommended</p>
                                <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-500 dark:text-gray-400">6 days ago</p>
                            </div>
                        </div>
                        <div aria-label="5 rating" tabindex="0" class="focus:outline-none flex items-center text-yellow-700">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card18-svg1.svg" alt="star"/>
                            <p class="text-sm leading-none text-yellow-700 ml-1">5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
