<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-center w-full h-full py-12 px-4">
            <div class="bg-white max-w-xs dark:bg-gray-800 shadow rounded py-4 px-4">
                <div class="flex items-center">
                    <div>
                        <div aria-label="icon" role="img" tabindex="0" class="focus:outline-none w-10 h-10 bg-indigo-700 flex items-center justify-center rounded-full">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/card59-svg1.svg" alt="icon"/>
                            
                        </div>
                        <p tabindex="0" class="focus:outline-none text-4xl mt-8 font-semibold leading-9 text-gray-800 dark:text-gray-100">48</p>
                        <p tabindex="0" class="focus:outline-none text-xs mt-1 leading-3 text-gray-500 dark:text-gray-400">Upcoming</p>
                    </div>
                    <div class="ml-6">
                        <div class="pb-2 border-b border-gray-200">
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-800 dark:text-gray-100">Design mobile UI dashboard</p>
                        </div>
                        <div class="pb-2 mt-1.5 border-b border-gray-200">
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-800 dark:text-gray-100">Calculate budget and contract</p>
                        </div>
                        <div class="pb-2 mt-1.5 border-b border-gray-200">
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-800 dark:text-gray-100">Search for a UI kit</p>
                        </div>
                        <div class="pb-4 mt-1.5">
                            <p tabindex="0" class="focus:outline-none text-xs leading-3 text-gray-800 dark:text-gray-100">Create HTML & CSS for startup</p>
                        </div>
                        <p tabindex="0" class="focus:outline-none text-xs leading-3 text-indigo-700">+10 more</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
