<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Block 8</title>

       <link href="https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <script defer src="https://cdn.tuk.dev/dev/light-dark-switch.js"></script>
    </head>

    <body class="bg-gray-200 dark:bg-gray-900" style="font-family: 'Lato', sans-serif">
        <div class="py-10">
            <div class="container mx-auto px-6 flex items-start justify-center">
                <div class="w-full md:w-8/12">
                    <dh-component>
                        <!-- Card is full width. Use in 8 col grid for best view. -->
                        <!-- Card code block start -->
                        <div class="mx-auto bg-white dark:bg-gray-800 shadow rounded xl:px-8 md:px-8 sm:px-8 py-8 px-4 w-full">
                            <p tabindex="0" class="focus:outline-none text-lg font-bold dark:text-gray-100">Find Colleagues</p>
                            <div class="flex w-full">
                                <div class="w-full">
                                    <div class="border border-gray-400 dark:border-gray-200 relative flex items-center rounded mt-6">
                                        <div class="absolute ml-4 cursor-pointer">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/8_col_listing_with_search_and_filter-svg1.svg" alt="search"/>
                                            
                                        </div>
                                        <input type="text" placeholder="Marketing Candidates" class="focus:ring-2 focus:ring-indigo-600 focus:outline-none pl-10 w-full py-3 text-sm" id="Search" aria-label="Search" />
                                        <button class="focus:ring-2 focus:ring-indigo-600 focus:text-indigo-600 focus:ring-offset-2 flex text-sm items-center border-gray-400 dark:border-gray-200 border-l text-gray-600 dark:text-gray-400 focus:outline-none py-3 px-6">
                                            <span class="pr-1">
                                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/8_col_listing_with_search_and_filter-svg2.svg" alt="filter"/>
                                            </span>
                                            Filter
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-8 pb-8 border-b border-gray-300 xl:flex lg:flex md:flex sm:flex relative">
                                <div class="flex w-11/12">
                                    <div class="h-12 w-12 rounded-full bg-center bg-cover bg-no-repeat">
                                        <img tabindex="0" class="focus:outline-none w-full object-cover rounded-full border-2 border-white shadow" src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_19.png" alt="man avatar" />
                                    </div>
                                    <div class="w-full ml-3">
                                        <p tabindex="0" class="focus:outline-none text-base text-gray-800 dark:text-gray-100 font-bold">Jackson Teller</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Sr. Manager, Advertising</p>
                                        <div class="xl:flex lg:flex md:flex flex-wrap justify-between mt-6">
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Department: <span class="text-gray-800 dark:text-gray-100 font-bold">Marketing</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Expertise: <span class="text-indigo-700 dark:text-indigo-600">ATL, BTL, Sponsorships</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Tenure: <span class="text-gray-800 dark:text-gray-100 font-bold">09 Years</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="absolute top-0 right-0 mt-6 xl:mt-0 lg:mt-0 md:mt-0 sm:mt-0 xl:relative lg:relative md:relative sm:relative">
                                    <div class="bg-blue-700 h-6 w-20 mb-4 md:mb-0 rounded-full flex items-center justify-center">
                                        <span tabindex="0" class="focus:outline-none text-xs text-white font-normal">Active</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-6 pb-8 border-b border-gray-300 xl:flex lg:flex md:flex sm:flex relative">
                                <div class="flex w-11/12">
                                    <div class="h-12 w-12 rounded-full bg-center bg-cover bg-no-repeat">
                                        <img tabindex="0" class="focus:outline-none w-full object-cover rounded-full border-2 border-white shadow" src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_20.png" alt="man avatar" />
                                    </div>
                                    <div class="w-full ml-3">
                                        <p tabindex="0" class="focus:outline-none text-base text-gray-800 dark:text-gray-100 font-bold">Jackson Teller</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Sr. Manager, Advertising</p>
                                        <div class="xl:flex lg:flex md:flex flex-wrap justify-between mt-6">
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Department: <span class="text-gray-800 dark:text-gray-100 font-bold">Marketing</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Expertise: <span class="text-indigo-700 dark:text-indigo-600">ATL, BTL, Sponsorhsips</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Tenure: <span class="text-gray-800 dark:text-gray-100 font-bold">09 Years</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="absolute top-0 right-0 mt-6 xl:mt-0 lg:mt-0 md:mt-0 sm:mt-0 xl:relative lg:relative md:relative sm:relative">
                                    <div class="bg-yellow-700 h-6 w-20 mb-4 md:mb-0 rounded-full flex items-center justify-center">
                                        <span tabindex="0" class="focus:outline-none text-xs text-white font-normal">Away</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-6 pb-8 border-b border-gray-300 xl:flex lg:flex md:flex sm:flex relative">
                                <div class="flex w-11/12">
                                    <div class="h-12 w-12 rounded-full bg-center bg-cover bg-no-repeat">
                                        <img tabindex="0" class="focus:outline-none w-full object-cover rounded-full border-2 border-white shadow" src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_21.png" alt="man avatar" />
                                    </div>
                                    <div class="w-full ml-3">
                                        <p tabindex="0" class="focus:outline-none text-base text-gray-800 dark:text-gray-100 font-bold">Jackson Teller</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Sr. Manager, Advertising</p>
                                        <div class="xl:flex lg:flex md:flex flex-wrap justify-between mt-6">
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Department: <span class="text-gray-800 dark:text-gray-100 font-bold">Marketing</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Expertise: <span class="text-indigo-700 dark:text-indigo-600">ATL, BTL, Sponsorhsips</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Tenure: <span class="text-gray-800 dark:text-gray-100 font-bold">09 Years</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="absolute top-0 right-0 mt-6 xl:mt-0 lg:mt-0 md:mt-0 sm:mt-0 xl:relative lg:relative md:relative sm:relative">
                                    <div class="bg-blue-700 h-6 w-20 mb-4 md:mb-0 rounded-full flex items-center justify-center">
                                        <span tabindex="0" class="focus:outline-none text-xs text-white font-normal">Active</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-6 pb-8 xl:flex lg:flex md:flex sm:flex relative">
                                <div class="flex w-11/12">
                                    <div class="h-12 w-12 rounded-full bg-center bg-cover bg-no-repeat">
                                        <img tabindex="0" class="focus:outline-none w-full object-cover rounded-full border-2 border-white shadow" src="https://tuk-cdn.s3.amazonaws.com/assets/components/grid_cards/gc_22.png" alt="boy avatar" />
                                    </div>
                                    <div class="w-full ml-3">
                                        <p tabindex="0" class="focus:outline-none text-base text-gray-800 dark:text-gray-100 font-bold">Jackson Teller</p>
                                        <p tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-400">Sr. Manager, Advertising</p>
                                        <div class="xl:flex lg:flex md:flex flex-wrap justify-between mt-6">
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Department: <span class="text-gray-800 dark:text-gray-100 font-bold">Marketing</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Expertise: <span class="text-indigo-700 dark:text-indigo-600">ATL, BTL, Sponsorhsips</span></p>
                                            <p tabindex="0" class="focus:outline-none text-sm text-gray-600 dark:text-gray-400 mb-2 xl:mb-0 lg:mb-0">Tenure: <span class="text-gray-800 dark:text-gray-100 font-bold">09 Years</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="absolute top-0 right-0 mt-6 xl:mt-0 lg:mt-0 md:mt-0 sm:mt-0 xl:relative lg:relative md:relative sm:relative">
                                    <div class="bg-yellow-700 h-6 w-20 mb-4 md:mb-0 rounded-full flex items-center justify-center">
                                        <span tabindex="0" class="focus:outline-none text-xs text-white font-normal">Away</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card code block end -->
                    </dh-component>
                </div>
            </div>
        </div>
    </body>
</html>
